@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  @apply flex z-[100] justify-between items-center fixed w-full cursor-pointer h-[52px] top-0 shadow-sm bg-white;
}

.navbar__logo {
  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0; 
}
.navbar__list {
  @apply flex gap-3 px-[18px] py-0 items-center;
}
.navbar__list--item {
  @apply cursor-pointer;
}
.navbar__list--item:hover {
  @apply text-gray-600;
}

.navbar__button {
  @apply hidden cursor-pointer;
}
.layout {
  @apply pt-[52px]
}
/* .infowindow {
  @apply bg-blue-900 text-white block text-sm text-center h-6 rounded-md px-2 
} */

@layer components {
  /* 1. 전체 마커 바구니 */
  .marker-container {
    @apply relative flex flex-col items-center cursor-pointer;
  }

  /* 2. 인포윈도우 (꼬리 없이 본체만) */
  .custom-infowindow {
    @apply absolute bottom-11 opacity-0 transition-opacity duration-200 pointer-events-none z-10;
  }

  /* 3. 호버 시 인포윈도우 보이기 (opacity 사용으로 부드럽게) */
  .marker-container:hover .custom-infowindow {
    @apply opacity-100;
  }

  /* 4. 이름표 디자인 */
  .infowindow-content {
    @apply bg-white px-3 py-1.5 rounded-full shadow-sm border border-gray-300 
           whitespace-nowrap text-xs font-bold text-black tracking-tight antialiased;
  }

  /* 5. 마커 이미지 */
  /* .marker-image {
    @apply w-10 h-10 transition-transform duration-200 drop-shadow-md;
  } */

}



@media (width <= 640px) {
  .navbar--mobile {
    @apply fixed  w-full text-white top-[52px] bg-blue-800
  }
  .navbar__button {
    @apply block py-0 px-[18px] cursor-pointer
  }
  .navbar__list {
    @apply hidden
  }
  .navbar__list--mobile {
    @apply flex flex-col gap-4 py-6 px-4;
  }
  .navbar__list--mobile-item {
    @apply cursor-pointer 
  }
  .navbar__list--mobile-item:hover {
    @apply text-gray-200;
  }

}